* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent; 
}

:root {
	--radius: 10px;

	--background-base: #ffffff;
	--background-light: #f8f9fa;
	--foreground: #000000;
	--highlight: #228be6;
	--border-color: #dee2e6;
	--positive-background: #ebfbee;
	--positive-border: #b2f2bb;
	--positive-foreground: #205c2c;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-base: #000000;
		--background-light: #212529;
		--foreground: #ffffff;
		--highlight: #4dabf7;
		--border-color: #343a40;
		--positive-background: #0a1e0e;
		--positive-border: #205c2c;
		--positive-foreground: #d3f9d8;
	}
}

body {
	margin: 0;
	font-family: ui-rounded, 'Inter', sans-serif;
	height: 100vh;
	background: var(--background-base);
	color: var(--foreground);
}

#__next, .container {
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 32px;
}

header {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	& h1 {
		margin: 0;
		font-size: 2.4rem;
		user-select: none;
	}

	& .preset-container {
		user-select: none;

		& select {
			width: 100px;
		}
	}
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.table-container {
	border: 2px solid var(--border-color);
	border-radius: var(--radius);
	padding-bottom: 2px;
	width: 100%;
}

table {
	font-variant-numeric: tabular-nums;
	text-align: left;
	border-collapse: collapse;
	width: 100%;

	& td, & th {
		padding: 8px;
	}

	& th {
		user-select: none;
	}

	& tbody tr {
		border-top: 1px solid var(--border-color);

		&.result {
			border-top: 2px dashed var(--border-color);
		}

		& th:only-of-type {
			font-weight: normal;
		}
	}

	& input {
		font-size: inherit;
		font-family: inherit;
		border: none;
		display: inline-block;
		flex: 1;
		width: 100%;
		text-decoration: underline;
		text-decoration-thickness: 1.5px;
		text-decoration-color: var(--highlight); /* This has to be a separate statement in Safari? */
		border-radius: 0;
		padding: 0;
		outline: none;
		background: inherit;
		color: inherit;
	}

	& .safety {
		font-size: 1.2em;
		vertical-align: -15%;

		&.positive {
			color: #37b24d;
		}

		&.negative {
			color: #f03e3e;
		}
	}
}

.popover {
	padding: 4px;
	user-select: none;

	&>div {
		background-color: var(--background-light);
		border: 1px solid var(--border-color);
		padding: 14px;
		border-radius: var(--radius);
		font-size: 0.9em;
	}

	&.positive>div {
		background-color: var(--positive-background);
		border: 1px solid var(--positive-border);
		color: var(--positive-foreground);
	}
}

select {
	display: inline-block;
	background: var(--background-light) svg-load('select-arrow.svg', fill: #737a81) calc(100% - 8px) 50% / 0.9em no-repeat;
	padding: 8px;
	padding-right: calc(12px + 0.9em);
	font-family: inherit;
	font-size: 0.9em;
	color: inherit;
	border: 1px solid var(--border-color);
	box-size: border-box;
	cursor: pointer;
	outline: none;
	border-radius: var(--radius);
	-webkit-appearance: none;
}
